/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mr-10 {
  margin-right: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.container {
  width: 100%;
  margin-top: 10px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 80%;
  }
}
