.wrapper {
  display: flex;
  justify-content: center;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.add-btn {
  position: fixed;
  bottom: 7%;
  right: 7%;
}

.mat-form-field.filter-date {
  width: 50%;
}
