<div class="wrapper">
    <div class="container">
        <div class="header-wrapper">
            <mat-form-field class="filter-date">
                <mat-label>Filter By date</mat-label>
                <input matInput [matDatepicker]="picker" [formControl]="dateFilter" />
                <mat-datepicker-toggle matSuffix [for]=" picker"></mat-datepicker-toggle>
                <mat-datepicker-toggle *ngIf="dateFilter.value" matSuffix (click)="clearStartDate()">
                    <mat-icon matDatepickerToggleIcon>clear</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div>
                <span class="mr-10">
                    <button mat-mini-fab aria-label="add button" (click)="onExportAsJson()">
                        <mat-icon>get_app</mat-icon>
                    </button>
                </span>
            </div>
        </div>
        <div>
            <mat-list>
                <div mat-subheader>List</div>
                <app-note-item *ngFor="let note of list" [data]="note"></app-note-item>
                <mat-list-item *ngIf="!list.length">
                    No Item Found on this Date
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>

<span class="add-btn">
    <button mat-fab aria-label="add button" (click)="onAddNote()">
        <mat-icon>add</mat-icon>
    </button>
</span>